
//main styles
// @import "sections/_name";

.info{

    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.logo{
    max-width: 260px;
    display: block;

    @include br-p(767px, min){
        order: 1;
    }
}


.slogan{
    @include br-p(767px, min){
        order: 4;
    }

    &__text{

    }

    &__knight{

    }
}

.cta{
    @include br-p(767px, min){
        order: 3;
    }

    &__title{

    }

    &__button-box{

    }

    &__btn{

    }

    &__rules-link{
        
    }
}

.award{
    @include br-p(767px, min){
        order: 2;
    }

    &__info{

    }

    &__prize{


        &-img{

        }
    }

    &__title{

    }

    &__description{

    }
}

.balls{

}

.ball{


}



@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {

}

@include br-p(419px) {

}