//main styles
// @import "sections/_name";



.logo {
    max-width: 260px;
    display: block;
}


.slogan {
    

    &__text {}

    &__knight {}
}

.cta {
    

    &__title {}

    &__button-box {}

    &__btn {}

    &__rules-link {}
}

.award {
    
    &__info {}

    &__prize {


        &-img {}
    }

    &__title {}

    &__description {}
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__logo {
        @include br-p(767px, min) {
            order: 1;
            flex: 0 0 260px;
        }
    }

    &__slogan{
        @include br-p(767px, min) {
            order: 4;
        }
    }

    &__cta{
        @include br-p(767px, min) {
            order: 3;
        }
    }

    &__award{
        @include br-p(767px, min) {
            order: 2;
        }
    
    }
}


.balls {}

.ball {}



@include br-p($xl) {}

@include br-p($lg) {}

@include br-p($md) {}

@include br-p($sm) {}

@include br-p($xs) {}

@include br-p(419px) {}