//main styles
// @import "sections/_name";



.logo {
    max-width: 260px;
    display: block;
}


.slogan {
    position: relative;
    z-index: 3;


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    &__text {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 15%;
        padding: 100px 0 58px 101px;

        @include br-p(992px, min){
            width: 0;
            overflow: hidden;
            transition: $trs;
            transition-delay: 3s;

            &.in-viewport{
                width: 100%;
            }
        }
    }

    &__text-stroke {
        font-family: $custom-font-family;
        font-size: 50px;
        line-height: 55px;
        letter-spacing: 1.4px;
        font-style: italic;
        color: rgba(#fff, .2);
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 1px;
        text-transform: uppercase;
        position: relative;

        &:last-child {
            padding-left: 110px;

            &::before {
                padding-left: 110px;
            }
        }

        &::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: #ffffff;
            z-index: -1;
        }
    }

    &__img {
        display: block;
        transition: $trs;
    }
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    position: relative;

    &__title {
        font-family: $custom-font-family;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 800;
    }

    &__title-word {
        font-style: italic;
        padding-left: 5px;
    }

    &__button-box {
        display: flex;
        flex-direction: column;
        padding: 34px 0 0;
        padding-left: 10px;
        text-align: center;
        max-width: 472px;
    }

    &__btn {}

    &__rules-link {
        margin-top: 40px;
        letter-spacing: -0.4px;
        margin-right: 8px;

    }
}

.accent {
    position: relative;
    font-size: 97px;
    letter-spacing: -0.25px;
    font-weight: 700;
    font-style: italic;
    display: block;
    display: flex;
    margin: 13px 0 10px;
    // padding-left: 75px;

    &:before {
        content: attr(data-accent-word);
        display: block;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        color: rgba(#000, .2);
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 1px;
        overflow: hidden;
    }

    @include br-p(992px, min) {
        &.in-viewport {
            .accent__word {
                &:nth-child(2) {
                    left: 40px;
                }
            }

            .accent__text {
                transform: translateX(100px);

                &::before {
                    transform: translateX(-15px);
                }
            }
        }
    }



    &__text {
        z-index: 2;
        transform: translateX(0);
        -webkit-text-stroke-color: $col-1;
        -webkit-text-stroke-width: 1px;
        transition: $trs;
        transition-delay: 2s;
        color: $col-1;

        &::before {
            position: absolute;
            content: attr(data-accent-text);
            color: rgba(#000, .2);
            -webkit-text-stroke-color: #fff;
            -webkit-text-stroke-width: 1px;
            left: 0;
            top: 0;
            z-index: -1;
            transform: translateX(-15px);
            transition: $trs;
            transition-delay: 2s;

            @include br-p(992px, min) {
                transform: translateX(0);
            }
        }
    }

    &__word {
        position: absolute;
        width: 56px;
        left: 0;
        top: 0;
        color: rgba(#000, .2);
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 1px;
        overflow: hidden;
        padding-left: 3px;
        transition-delay: 2s;

        &:nth-child(2) {
            left: 40px;

            @include br-p(992px, min) {
                left: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0.18em;
            width: 2px;
            height: .18em;
            background: #ffffff;
        }
    }
}

.award {
    display: flex;
    align-items: flex-end;
    max-width: 287px;

    &__info {
        padding-left: 10px;
    }

    &__prize {
        flex: 0 0 33px;

        &-img {}
    }

    &__title {
        font-size: 21px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 800;
    }

    &__description {
        font-size: 9px;
        text-transform: uppercase;
        color: rgba(#fff, .4);
    }
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &-section {}

    &__slogan {
        @include br-p(769px, min) {
            order: 4;
            flex: 0 0 calc(100% - 516px);
            padding-top: 30px;
        }
    }

    &__cta {

        @include br-p(769px, min) {
            order: 3;
            flex: 0 0 516px;
            padding: 58px 0 0px;

        }
    }

    &__award {
        @include br-p(769px, min) {
            display: none;
            order: 2;
            flex: 0 0 300px;
        }

    }
}


.balls {}

.ball {
    width: 110px;
    height: 110px;
    position: absolute;
    object-fit: contain;
    object-position: center;

    $amplitudes: (1: 2,
            2: 3,
            3: 4,
        );

    @each $key,
    $factor in $amplitudes {
        $i: index($amplitudes, ($key $factor));

        @keyframes levitate-#{$i} {
            0% {
                transform: translate(calc(0 * #{$factor}), calc(0 * #{$factor}));
            }

            20% {
                transform: translate(calc(16px * #{$factor}), calc(1px *#{$factor}));
            }

            40% {
                transform: translate(calc(8px * #{$factor}), calc(2px * #{$factor}));
            }

            60% {
                transform: translate(calc(20px * #{$factor}), calc(5px * #{$factor}));
            }

            80% {
                transform: translate(calc(5px * #{$factor}), calc(9px * #{$factor}));
            }

            to {
                transform: translate(calc(0 * #{$factor}), calc(0 * #{$factor}));
            }
        }

        &:nth-child(#{$i}n) {
            animation: levitate-#{$i} calc(#{$factor} * 5s) .6s forwards infinite;
        }
    }

    &_lg-size {
        width: 202px;
        height: 202px;

    }

    &_sm-size {
        width: 75px;
        height: 75px;
    }

    &:nth-child(1) {
        top: 25%;
        right: 11%;
    }

    &:nth-child(2) {
        bottom: 5%;
        right: 8%;
    }

    &:nth-child(3) {
        bottom: 10%;
        left: 32%;

    }
}

@include br-p(2000px, min) {
    .info__cta {
        flex: 0 0 900;
    }

    .info__slogan {
        flex: 0 0 calc(100% - 900px);
    }
}


@include br-p(1900px, min) {
    .info__cta {
        padding: 20px 0 0;
    }
}

@include br-p($lg) {
    .info__cta {
        flex: 0 0 480px;
    }

    .info__slogan {
        flex: 0 0 calc(100% - 480px);
    }

    .slogan__text {
        padding: 100px 0 58px 24px;
    }

    .slogan__img {
        max-height: 600px;
    }

    .slogan__text-stroke {
        font-size: 35px;
        line-height: 40px;
    }

    .cta__title {
        font-size: 40px;
    }

    .accent {
        font-size: 80px;
    }

    .accent__word {
        width: 50px;
    }

}

@include br-p($md) {
    .info {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 80px 0 100px;
    }

    .info__slogan {
        order: 1;
        padding-top: 50px;
    }

    .info__cta {
        order: 2;
        max-width: 600px;
        margin: 0 auto;
        align-self: center;
        padding: 40px 0 80px;
    }

    .info__award {
        order: 3;
        align-self: center;
    }

    .slogan__text {
        padding: 100px 0 58px 115px;
    }

    .cta__title-word:last-child {
        text-align: right;
    }

    .cta__button-box {
        align-self: center;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }
}

@include br-p($sm) {

    .info__cta {
        flex: 1 1 auto;
    }

    .info__slogan {
        flex: 1 1 100%;
    }

    .ball {
        width: 45px;
        height: 45px;
    }

    .ball_lg-size {
        width: 100px;
        height: 100px;
    }

    .ball_sm-size {
        width: 35px;
        height: 35px;
    }

    .ball:nth-child(1) {
        top: 7%;
        right: 0%;
    }

    .ball:nth-child(2) {
        bottom: auto;
        right: auto;
        top: 30%;
        left: 1%;
        z-index: 2;
    }

    .ball:nth-child(3) {
        bottom: 33%;
    }
}

@include br-p($xs) {

    .info {
        padding: 70px 0 24px;
    }

    .info__cta {
        padding: 0 0 30px;
    }

    .slogan__text {
        padding: 100px 0 58px 0;
    }

    .slogan__text-stroke {
        font-size: 30px;
    }

    .cta__title {
        font-size: 24px;
    }

    .accent {
        font-size: 50px;
    }

    .accent__word {
        width: 31px;
    }

    .accent__word:nth-child(2) {
        left: 20px;
    }

    .accent__word::before {
        width: 1px;
    }

    .accent__text {
        transform: translateX(55px);
    }

    .accent__text::before {
        transform: translateX(-8px);
    }

    .cta__rules-link {
        margin-top: 24px;
    }
}

@include br-p(419px) {




    .logo {
        max-width: 200px;
    }

    .info {
        padding: 70px 0 22px;
    }

    .info__slogan {
        padding-top: 0;
        transform: translateY(18px);
    }

    .info__cta {
        transform: translateY(-38px);
        padding-bottom: 10px;
    }

    .slogan__content {
        transform: translateX(-29px);
    }

    .slogan__text {
        padding: 100px 0 18px 6px;
        margin: 0 -30px;
        bottom: 25%;
    }

    .accent {
        margin: 7px 0 4px;
    }

    .accent__word {
        left: 2px;
    }

    .accent__word:nth-child(2) {
        left: 23px;
    }

    .slogan__text-stroke {
        line-height: 34px;
    }

    .slogan__text-stroke:last-child {
        padding-left: 29px;
        text-align: right;
    }

    .slogan__text-stroke:last-child::before {
        padding-left: 29px;
    }

    .cta__title-word {
        padding-left: 15px;
    }

    .cta__title-word:last-child {
        padding-right: 10px;
        line-height: 28px;
    }

    .slogan__img {
        margin-top: 30px;
    }

    .cta__button-box {
        padding-top: 22px;
    }

    .award {
        max-width: 250px;
        padding-left: 10px;
    }

    .award__info {
        padding-left: 8px;
    }

    .award__prize {
        flex: 0 0 27px;
    }

    .award__title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 6px;
    }

    .award__description {
        font-size: 7px;
        padding-bottom: 3px;
    }


    .ball:nth-child(1) {
        top: 16%;
        right: 6%;
    }

    .ball:nth-child(2) {
        top: 46%;
    }

    .ball:nth-child(3) {
        bottom: 28%;
        left: 15%;
    }
}