
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer{
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
	-webkit-order: 3;	
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}


@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {

}

@include br-p(419px) {

}