
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer{
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
	-webkit-order: 3;	
}


@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {

}

@include br-p(419px) {

}