
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer{
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
	-webkit-order: 3;	
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 16px 0;

	&::after{
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		width: 40%;
		height: 100%;
		transform: translateX(-50%);
		// background: radial-gradient(circle, rgba(0,0,0,1) 0%, transparent 100%) center 100%;
		border-radius: 150px / 40px;
		box-shadow: 0px -11px 50px 70px rgba(0, 0, 0 , .2);
	}
	

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}
}

.payments{
	display: flex;
	align-items: center;
}

.payment{
	margin-right: 29px;

	&:last-child{
		margin: 0;
	}


	&__img{
		max-height: 18px;
		max-width: 75px;
		object-fit: contain;
		object-position: center;
	}
}

.icons{
	display: flex;
}

.icon{
	margin-right: 26px;

	&:last-child{
		margin: 0;
	}

	&__img{
		width: 19px;
		height: 19px;
		object-fit: contain;
		object-position: center;
	}
}


@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {

}

@include br-p(419px) {

}