
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer{
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
	-webkit-order: 3;	
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.payments{
	display: flex;
	align-items: center;
}

.payment{
	margin-right: 25px;

	&:last-child{
		margin: 0;
	}


	&__img{
		max-height: 20px;
		max-width: 260px;
		object-fit: contain;
		object-position: center;
	}
}

.icons{
	display: flex;
}

.icon{
	margin-right: 22px;

	&:last-child{
		margin: 0;
	}

	&__img{
		width: 22px;
		height: 22px;
		object-fit: contain;
		object-position: center;
	}
}


@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {

}

@include br-p(419px) {

}