
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
	-webkit-order: 1;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 3;
	background: transparent;
	padding: 30px 0;
	box-shadow: 0 0 10px #000;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		flex: 0 0 260px;
		max-width: 260px;
    }
}





@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {



}

@include br-p(419px) {


}

@include br-p(359px) {
	
}