
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
	-webkit-order: 1;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 10;
	box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.14);
}





@include br-p($xl) {
    
}

@include br-p($lg) {

}
@include br-p($md) {

}
@include br-p($sm) {

}

@include br-p($xs) {



}

@include br-p(419px) {


}

@include br-p(359px) {
	
}