@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Light.eot');
  src: url('../fonts/NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Light.woff2') format('woff2'),
      url('../fonts/NeueMachina-Light.woff') format('woff'),
      url('../fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Ultrabold.eot');
  src: url('../fonts/NeueMachina-Ultrabold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
      url('../fonts/NeueMachina-Ultrabold.woff') format('woff'),
      url('../fonts/NeueMachina-Ultrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Bold.eot');
  src: url('../fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Bold.woff2') format('woff2'),
      url('../fonts/NeueMachina-Bold.woff') format('woff'),
      url('../fonts/NeueMachina-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-Medium.eot');
  src: url('../fonts/DrukTextWideCyr-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-Medium.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-Medium.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Regular.eot');
  src: url('../fonts/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Regular.woff2') format('woff2'),
      url('../fonts/NeueMachina-Regular.woff') format('woff'),
      url('../fonts/NeueMachina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-MediumItalic.eot');
  src: url('../fonts/DrukTextWideCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-MediumItalic.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-MediumItalic.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-BoldItalic.eot');
  src: url('../fonts/DrukTextWideCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-BoldItalic.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-BoldItalic.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Medium.eot');
  src: url('../fonts/NeueMachina-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Medium.woff2') format('woff2'),
      url('../fonts/NeueMachina-Medium.woff') format('woff'),
      url('../fonts/NeueMachina-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-HeavyItalic.eot');
  src: url('../fonts/DrukTextWideCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-HeavyItalic.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-HeavyItalic.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Ultrabold_1.eot');
  src: url('../fonts/NeueMachina-Ultrabold_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Ultrabold_1.woff2') format('woff2'),
      url('../fonts/NeueMachina-Ultrabold_1.woff') format('woff'),
      url('../fonts/NeueMachina-Ultrabold_1.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-Heavy.eot');
  src: url('../fonts/DrukTextWideCyr-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-Heavy.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-Heavy.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Ultralight.eot');
  src: url('../fonts/NeueMachina-Ultralight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Ultralight.woff2') format('woff2'),
      url('../fonts/NeueMachina-Ultralight.woff') format('woff'),
      url('../fonts/NeueMachina-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukTextWideCyr-Bold.eot');
  src: url('../fonts/DrukTextWideCyr-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DrukTextWideCyr-Bold.woff2') format('woff2'),
      url('../fonts/DrukTextWideCyr-Bold.woff') format('woff'),
      url('../fonts/DrukTextWideCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Regular_1.eot');
  src: url('../fonts/NeueMachina-Regular_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Regular_1.woff2') format('woff2'),
      url('../fonts/NeueMachina-Regular_1.woff') format('woff'),
      url('../fonts/NeueMachina-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Black.eot');
  src: url('../fonts/NeueMachina-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Black.woff2') format('woff2'),
      url('../fonts/NeueMachina-Black.woff') format('woff'),
      url('../fonts/NeueMachina-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Light_1.eot');
  src: url('../fonts/NeueMachina-Light_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeueMachina-Light_1.woff2') format('woff2'),
      url('../fonts/NeueMachina-Light_1.woff') format('woff'),
      url('../fonts/NeueMachina-Light_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

